# Project 1 - OpenData Octopi

#### This Jupyter Notebook will show changes and code written by Nico.

In [2]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
import requests
import json

In [5]:
opendata = pd.read_csv("Resources/2014OpenData.csv")
egov = pd.read_csv("Resources/2020Egov.csv")

In [16]:
opendata

,Year,Region,Income,ISO2,ISO3,ODB-Rank,Country,ODB-Score,Readiness,Implementation,...,Impact_Economic-Scaled,HDI,G20,G7,GDP-Per-Capita-Current-USD,2013-Rank,2013-ODB-Scaled,ODB Change,Rank Change,Cluster
0,2014,Middle East & North Africa,High income,AE,ARE,52,UAE,-0.113555,-0.011659,-0.480576,...,0,0.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One sided initiative
1,2014,Latin America & Caribbean,Upper middle income,AR,ARG,36,Argentina,0.023207,-0.174486,0.187631,...,20,0.808,G20,NaN,14715.180020,31.0,35.00,0.71,-5.0,Emerging and advancing
2,2014,East Asia & Pacific,High income,AU,AUS,10,Australia,0.434557,1.185518,1.657688,...,40,0.933,G20,NaN,67468.068710,7.0,67.68,0.65,-3.0,High capacity
3,2014,Europe & Central Asia,High income,AT,AUT,15,Austria,0.310956,0.906397,0.421504,...,59,0.881,NaN,NaN,49053.822900,18.0,46.03,12.49,3.0,High capacity
4,2014,Europe & Central Asia,High income,BE,BEL,27,Belgium,0.169248,1.013088,-0.113062,...,61,0.881,NaN,NaN,45387.175530,31.0,34.80,12.49,4.0,High capacity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2014,East Asia & Pacific,Lower middle income,VN,VNM,57,Vietnam,-0.197238,-1.159286,-0.330230,...,7,0.638,NaN,NaN,1910.533073,NaN,NaN,NaN,NaN,Capacity constrained
82,2014,Middle East & North Africa,Lower middle income,YE,YEM,82,Yemen,-0.353913,-1.289778,-1.198900,...,6,0.500,NaN,NaN,1473.099564,73.0,4.69,1.11,-9.0,Capacity constrained
83,2014,Sub-Saharan Africa,Upper middle income,ZA,ZAF,41,South Africa,-0.039921,-0.171404,-0.062947,...,0,0.658,G20,NaN,6617.911609,52.0,19.20,11.50,11.0,Emerging and advancing
84,2014,Sub-Saharan Africa,Lower middle income,ZM,ZMB,78,Zambia,-0.329643,-1.045805,-1.132079,...,0,0.561,NaN,NaN,1539.601731,75.0,4.23,3.50,-3.0,Capacity constrained
85,2014,Sub-Saharan Africa,Low income,ZW,ZWE,76,Zimbabwe,-0.305403,-1.040686,-1.031848,...,0,0.492,NaN,NaN,904.755015,73.0,5.30,4.35,-3.0,Capacity constrained

In [9]:
egov

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151
...,...,...,...,...,...,...,...,...
188,2020,Senegal,150,0.4210,0.4405,0.4941,0.3332,0.4358
189,2020,Serbia,58,0.7474,0.8214,0.7941,0.8280,0.6200
190,2020,Seychelles,76,0.6920,0.5714,0.6176,0.7660,0.6925
191,2020,Singapore,11,0.9150,0.9762,0.9647,0.8904,0.8899
192,2020,Slovakia,48,0.7817,0.7024,0.7176,0.8286,0.7988

In [21]:
merged = pd.merge(opendata, egov, left_on=["Country"], right_on=["Country Name"], how="inner")

merged

,Year,Region,Income,ISO2,ISO3,ODB-Rank,Country,ODB-Score,Readiness,Implementation,...,Rank Change,Cluster,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2014,Europe & Central Asia,High income,AT,AUT,15,Austria,0.310956,0.906397,0.421504,...,3.0,High capacity,2020,Austria,15,0.8914,0.9762,0.9471,0.9032,0.8240
1,2014,Europe & Central Asia,High income,FR,FRA,4,France,0.584476,1.166057,1.924971,...,6.0,High capacity,2020,France,19,0.8718,0.9048,0.8824,0.8612,0.8719
2,2014,East Asia & Pacific,Upper middle income,MY,MYS,41,Malaysia,-0.039140,-0.285569,0.187631,...,NaN,One sided initiative,2020,Malaysia,47,0.7892,0.8571,0.8529,0.7513,0.7634
3,2014,Europe & Central Asia,Lower middle income,UA,UKR,55,Ukraine,-0.159381,-0.511816,-0.463871,...,NaN,Capacity constrained,2020,Ukraine,69,0.7119,0.8095,0.6824,0.8591,0.5942